.videoCard{
    background-color: #ffffff24;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 0.5rem;
    border: 0.1rem #3a3a3a solid;
    /* padding: 10px; */
}

.title{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    width: 294px;
    max-width: 294px;
    overflow:hidden;
    text-overflow:ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2; /* 라인수 */
    -webkit-box-orient:vertical;
    word-wrap:break-word;
    line-height:18px;
    height:36px;
}

.channelTitle{
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0px;
    width: 294px;
    max-width: 294px;
}