#root{
    background-color: #ffffff12;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 0.5rem;
    border: 0.1rem #3a3a3a solid;
    padding: 10px;
}

html{
    background-color: black;
}