.mainContent{
    margin-top: 6vh;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}


.playVideo{
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: 950px auto;
}


@media screen and (max-width: 950px) {
    .playVideo{
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
}


.videoArea{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.videoExplanation{
    color: gray;
    margin-top: 10px;
    width: 950px;
}